

a:link{
    color: rgb(43, 226, 217);
}

a:visited{
    color: rgb(43, 226, 217);
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

body{
    background-color: #f7f2f2;
    margin: 0px;
}

.grid img{
    border:2px solid #000000;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 400px;
    font-family: fantasy;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    margin: 30px;
}

.about{
    padding-right:25px ;
    padding-top: 30px;
    
}